<% provide(:title, "Upload") %>

<!-- This is where all the magic of displaying shit will happen.
A simple-ass, one-page app. -->

<h1>This is where we do shit with your order</h1>

<!-- PDF: <%= @pdf %>;
Varer: <%= @varer %>;
Trans: <%= @dat %>; -->

<!-- Scantool this is the PDF<%= @scanTool.pdf.class%> -->

This is the result<% @result %>


